.container {
    border: 5px solid yellow;
    display: flex;
    justify-content: flex-end;
}
.container > div {
    padding: 10px;
    text-align: center;
    font-size: 14pt;
    color: white;
    border: 2px solid;
    background-color: green;
}